{% extends 'FrontendBundle::base.html.twig' %}

{% block content %}
    <h1>Github Resume Application</h1>

    <p>
        Insert a username into the next input field to receive the github resume.
        Provide your Login Data for preventing api request limits.
    </p>

    {{ form_start(form) }}
    {{ form_row(form.github_username) }}
    {{ form_row(form.github_password) }}
    <hr>
    {{ form_row(form.username) }}
    {{ form_row(form.submit, {'label': 'Generate', 'attr': {'class': 'btn-primary'}}) }}
    {{ form_end(form) }}
{% endblock %}
