{% extends 'FrontendBundle::base.html.twig' %}

{% block content %}
    <h1><img src="{{ userdata.avatar_url }}" width="50px" height="50px"> Github Resume for user '{{ username }}'</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul>
                <li>Name: {{ userdata.name }}</li>
                <li>ID: {{ userdata.id }}</li>
                <li>User Type: {{ userdata.type }}</li>
                <li>URL: <a href="{{ userdata.url }}">GitHub URL</a></li>
                <li>Blog: {{ userdata.blog }}</li>
            </ul>
        </div>
    </div>

    <h2>Languages</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <ul>
                {% for key in languages|keys %}
                    <li>{{ key }}: {{ languages[key]|round(2, 'floor') }}%</li>
                {% endfor %}
        </div>
    </div>
    </ul>

    <h2>Repositories ({{ repositories|length }})</h2>
    {% for repository in repositories %}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Name: {{ repository.full_name }}</li>
                    <li>URL: {{ repository.html_url }}</li>
                    <li>Desc: {{ repository.description }}</li>
                    <li>Created at: {{ repository.created_at|date('d.m.Y - H:m') }}</li>
                    <li>Updated at: {{ repository.updated_at|date('d.m.Y - H:m') }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
